<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/register.css">
    <title>Registrarse</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="/registrarUsuario" method="post">
                    <h2><span style="color: white;">Únete a </span><span
                            style="color: red; font-weight: bold;">TecnoStore</span></h2>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input name="nombre" type="text" required>
                        <label for="">Nombres</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input name="apellido" type="text" required>
                        <label for="">Apellidos</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input name="email" type="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input name="clave" type="password" required>
                        <label for="">Contraseña</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="call-outline"></ion-icon>
                        <input name="telefono" type="tel" required>
                        <label for="">Teléfono</label>
                    </div>
                    <button>Registrarse</button>
                    <div class="register">
                        <p style="font-size: 18px;">¿Tienes una cuenta? <a href="/iniciarLogin"
                                style="color: rgb(0, 255, 255);">Inicia aquí</a></p>
                    </div>
                </form>

                <div id="sweet-alert" style="display: none;"></div>

                <br>
                <!-- <div th:text="${mensaje}" th:class="${cssmensaje}" role="alert">
                </div> -->
            </div>
        </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var tituloMensaje = "[[${tituloMensaje}]]";
        var mensaje = "[[${mensaje}]]";
        var tipoMensaje = "[[${tipoMensaje}]]";

        document.addEventListener('DOMContentLoaded', function () {
            if (tipoMensaje === "success") {
                Swal.fire({
                    icon: 'success',
                    title: tituloMensaje,
                    text: mensaje
                });
            } else if (tipoMensaje === "error") {
                Swal.fire({
                    icon: 'error',
                    title: tituloMensaje,
                    text: mensaje
                });
            }
        });
    </script>
</body>

</html>
